main {
  margin-top: 100px;
  margin-bottom: 200px;
}

.width {
  width: 450px;
  margin: auto;
}

.hr {
  background-color: black;
  height: 3px;
  border: 0;
}

.input {
  border: 1px solid black;
  height: 50px;
  width: 450px;
}
.find_password_btn {
  width: 450px;
  height: 50px;
  background-color: black;
  color: white;
}
