/* * {
  border: 1px solid gray;
} */

.logo {
  width: 300px;
  margin-top: 100px;
}
.input {
  width: 500px;
  height: 50px;
  border: 1px black solid;
}
.width {
  width: 500px;
  margin: auto;
}
.id_save {
  width: 18px;
  border: 1px solid black;
}
.login_btn {
  width: 500px;
  height: 50px;
  border: 1px black solid;
  background-color: white;
}
.signup_btn {
  width: 500px;
  height: 50px;
  background-color: black;
  color: white;
}

.find_id_btn {
  background-color: white;
  border: 0;
}
.find_pw_btn {
  background-color: white;
  border: 0;
}
.hr {
  width: 500px;
  height: 3px;
  background-color: black;
  border: 0;
  margin: auto;
}

.naver_login_btn {
  width: 500px;
  height: 50px;
  border: 1px black solid;
  background-color: white;
}

.kakao_login_btn {
  width: 500px;
  height: 50px;
  border: 1px black solid;
  background-color: white;
}
