<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminOrderMapper">

   <!-- [GYEONG] 총 주문내역 뽑기 -->
    <select id="selectAdminOrderList" parameterType="Map" resultType="Map">
    SELECT 
        ORDERS.ORDER_UID,
        ORDERS.USER_UID,
        ORDERS.ORDER_DATE,
        MIN(PRODUCTS.PRODUCT_NAME) AS PRODUCT_NAME,
        COUNT(DISTINCT ORDER_DETAILS.PRODUCT_UID) AS PRODUCT_COUNT,
        SUM(ORDER_DETAILS.PRICE * CASE WHEN PRODUCTS.DISCOUNT_RATE > 0 THEN PRODUCTS.DISCOUNT_RATE ELSE 1 END * ORDER_DETAILS.QUANTITY) AS TOTAL_PRICE,
        ORDER_CONDITIONS.CONDITION_NAME
    FROM 
        ORDERS
        INNER JOIN ORDER_DETAILS ON ORDERS.ORDER_UID = ORDER_DETAILS.ORDER_UID
        INNER JOIN ORDER_CONDITIONS ON ORDER_CONDITIONS.ORDER_CONDITION_UID = ORDER_DETAILS.ORDER_CONDITION_UID
        INNER JOIN PRODUCTS ON PRODUCTS.PRODUCT_UID = ORDER_DETAILS.PRODUCT_UID
        INNER JOIN USERS ON USERS.USER_UID = ORDERS.USER_UID
    GROUP BY 
        ORDERS.ORDER_UID
    </select>

    <!-- [GYEONG] 총주문갯수 구하기 -->
    <select id="selectOrderCount" parameterType="Map" resultType="Int">
    SELECT COUNT(*) AS ORDER_COUNT
    FROM ORDERS
    </select>

    <!-- [GYEONG] 상세주문내역 뽑기 -->
    <select id="selectAdminOrderDetailList" parameterType="Map" resultType="Map">
    SELECT ORDERS.ORDER_UID, 
    ORDER_DETAILS.ORDER_DETAIL_UID,
    ORDERS.USER_UID,
    ORDERS.PAYMENT_METHOD_UID,
    ORDERS.ORDER_DATE, 
    ORDER_DETAILS.PRICE, 
    ORDER_CONDITIONS.CONDITION_NAME,
    ORDER_DETAILS.QUANTITY,
    PRODUCTS.PRODUCT_NAME,
    PRODUCTS.DISCOUNT_RATE, 
    WAYBILLS.WAYBILL_CODE, 
    LOGISTICS.LOGISTICS_NAME,
    PAYMENT_METHODS.PAYMENT_METHOD
    FROM ORDER_DETAILS
    INNER JOIN ORDERS
    ON ORDER_DETAILS.ORDER_UID = ORDERS.ORDER_UID
    INNER JOIN PRODUCTS
    ON ORDER_DETAILS.PRODUCT_UID = PRODUCTS.PRODUCT_UID
    INNER JOIN ORDER_CONDITIONS
    ON ORDER_DETAILS.ORDER_CONDITION_UID = ORDER_CONDITIONS.ORDER_CONDITION_UID
    INNER JOIN WAYBILLS 
    ON WAYBILLS.WAYBILL_UID = ORDER_DETAILS.WAYBILL_UID
    INNER JOIN LOGISTICS 
    ON LOGISTICS.LOGISTICS_UID = WAYBILLS.LOGISTICS_UID
    INNER JOIN PAYMENT_METHODS
    ON ORDERS.PAYMENT_METHOD_UID = PAYMENT_METHODS.PAYMENT_METHOD_UID
    WHERE ORDERS.ORDER_UID = #{ORDER_UID}
    </select>


    <!-- [GYEONG] 주문 주소정보 가져오기 -->
    <select id="selectOrderAddress" parameterType="Map" resultType="Map">
    SELECT ORDERS.ORDER_UID,
            ORDERS.RECIPIENT_NAME,
            ORDERS.RECIPIENT_TEL,
            ADDRESSES.ADDRESS_NAME,
            ADDRESSES.ZIP_CODE,
            ADDRESSES.ADDRESS,
            ADDRESSES.DETAIL
    FROM ORDERS
    INNER JOIN ADDRESSES
          ON ORDERS.ADDRESS_UID = ADDRESSES.ADDRESS_UID
    WHERE ORDERS.ORDER_UID = #{ORDER_UID}
    </select>


    <!-- [GYEONG] 주문 취소내역 가져오기 -->
    <select id="selectCancelOrderList" parameterType="Map" resultType="Map">
        SELECT CANCELLED_ORDERS.CANCELLED_ORDER_UID,
            CANCELLED_REASONS.REASON,
            CANCELLED_ORDERS.DATE,
            ORDERS.*
        FROM CANCELLED_ORDERS
        INNER JOIN CANCELLED_REASONS
        ON CANCELLED_ORDERS.REASON_UID = CANCELLED_REASONS.REASON_UID 
        INNER JOIN ORDERS
        ON CANCELLED_ORDERS.ORDER_UID = ORDERS.ORDER_UID
    </select>


    <!-- [GYEONG] 주문 취소사유 통계 가져오기 -->
    <select id="selectCancelOrderStatistics" parameterType="Map" resultType="Map">
        SELECT CANCELLED_REASONS.REASON,
            COUNT(*) AS COUNT
        FROM CANCELLED_ORDERS
        INNER JOIN CANCELLED_REASONS
        ON CANCELLED_ORDERS.REASON_UID = CANCELLED_REASONS.REASON_UID 
        GROUP BY CANCELLED_REASONS.REASON
    </select>

    <!-- [GYEONG] 주문 취소 내역 총 갯수 가져오기 -->
    <select id="selectCancelOrderListCount" parameterType="Map" resultType="int">
    SELECT COUNT(*) 
    FROM CANCELLED_ORDERS
    INNER JOIN CANCELLED_REASONS
    ON CANCELLED_ORDERS.REASON_UID = CANCELLED_REASONS.REASON_UID 
    INNER JOIN ORDERS
    ON CANCELLED_ORDERS.ORDER_UID = ORDERS.ORDER_UID
    </select>


</mapper>