<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">

    <insert id="insertAdmin" parameterType="Map">
        INSERT INTO ADMINS 
        (ADMIN_UID, ID, PASSWORD, ADMIN_NAME, NICKNAME, AUTHORITY)
        VALUE
        (#{ADMIN_UID}, 
        #{ID}, 
        #{PASSWORD}, 
        #{ADMIN_NAME},
        #{NICKNAME},
        'ADMIN')
    </insert>

    <insert id="insertThumbnail" parameterType="Map">
        INSERT INTO PRODUCT_IMGS
        VALUES (#{IMG_UID}, #{PRODUCT_UID}, #{ORIGIN_FILE_NAME}, #{PHYSICAL_FILE_NAME}, #{DIRECTORY_NAME}, #{EXPOSURE_ORDER})
    </insert>

    <insert id="insertDetail" parameterType="Map">
        INSERT INTO PRODUCT_DETAIL_IMGS
        VALUES (#{IMG_UID}, #{PRODUCT_UID}, #{ORIGIN_FILE_NAME}, #{PHYSICAL_FILE_NAME}, #{DIRECTORY_NAME}, #{EXPOSURE_ORDER})
    </insert>

    <insert id="insertProductInfo" parameterType="Map">
        INSERT INTO PRODUCTS
        VALUES (#{productUid}, #{category-uid}, #{purpose-uid}, #{brand-uid}, #{origin-uid},
        #{product-name}, #{product-desc}, #{price}, #{discount-rate}, #{stock}, sysdate(), #{exposure})
    </insert>

    <select id="selectCategories" resultType="Map">
        SELECT * FROM CATEGORIES
    </select>

    <select id="selectPurposes" resultType="Map">
        SELECT * FROM PURPOSES
    </select>

    <select id="selectBrands" resultType="Map">
        SELECT * FROM BRANDS
    </select>

    <select id="selectOrigins" resultType="Map">
        SELECT * FROM ORIGINS
    </select>

    <select id="selectProductInfos" resultType="Map">
        SELECT PRODUCT_UID, PRODUCT_NAME, CATEGORY_NAME, PURPOSE_NAME, PRICE, DISCOUNT_RATE, STOCK, EXPOSURE
        FROM PRODUCTS
        INNER JOIN CATEGORIES ON PRODUCTS.CATEGORY_UID = CATEGORIES.CATEGORY_UID
        INNER JOIN PURPOSES ON PRODUCTS.PURPOSE_UID = PURPOSES.PURPOSE_UID
    </select>

    <select id="selectProductEditInfo" parameterType="java.lang.String" resultType="Map">
        SELECT PRODUCT_UID, PRODUCT_NAME, PRODUCT_DESC, CATEGORY_NAME, PURPOSE_NAME, BRAND_NAME, ORIGIN_NAME, PRICE, DISCOUNT_RATE, STOCK
        FROM PRODUCTS
        INNER JOIN CATEGORIES ON PRODUCTS.CATEGORY_UID = CATEGORIES.CATEGORY_UID
        INNER JOIN PURPOSES ON PRODUCTS.PURPOSE_UID = PURPOSES.PURPOSE_UID
        INNER JOIN BRANDS ON PRODUCTS.BRAND_UID = BRANDS.BRAND_UID
        INNER JOIN ORIGINS ON PRODUCTS.ORIGIN_UID = ORIGINS.ORIGIN_UID
        WHERE PRODUCT_UID = #{productUid}
    </select>

    <update id="updateProduct" parameterType="Map">
        UPDATE PRODUCTS
        SET
        PRODUCT_NAME = #{product-name},
        PRODUCT_DESC = #{product-desc},
        CATEGORY_UID = #{category-uid},
        PURPOSE_UID = #{purpose-uid},
        BRAND_UID = #{brand-uid},
        ORIGIN_UID = #{origin-uid},
        PRICE = #{price},
        DISCOUNT_RATE = #{discount-rate},
        STOCK = #{stock},
        EXPOSURE = #{exposure}
        WHERE PRODUCT_UID = #{product-uid}
    </update>

</mapper>