<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

    <insert id="like" parameterType="Map">
        INSERT INTO FAVORITES
        VALUE (#{userUid}, #{product-uid})
    </insert>

    <delete id="dislike" parameterType="Map">
        DELETE FROM FAVORITES
        WHERE USER_UID = #{userUid} AND PRODUCT_UID = #{product-uid}
    </delete>

</mapper>