<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

    <insert id="like" parameterType="Map">
        INSERT INTO FAVORITES
        VALUE (#{userUid}, #{product-uid})
    </insert>

    <delete id="dislike" parameterType="Map">
        DELETE FROM FAVORITES
        WHERE USER_UID = #{userUid} AND PRODUCT_UID = #{product-uid}
    </delete>

    <select id="getSixProduct" parameterType="Map" resultType="Map">
        SELECT PRODUCTS.PRODUCT_UID, DIRECTORY_NAME, PHYSICAL_FILE_NAME FROM PRODUCTS
        INNER JOIN PRODUCT_IMGS ON PRODUCTS.PRODUCT_UID = PRODUCT_IMGS.PRODUCT_UID
        WHERE EXPOSURE_ORDER = 1
        ORDER BY CREATE_DATE DESC
        LIMIT 8
    </select>

    <select id="getFivePost" parameterType="Map" resultType="Map">
        SELECT POST_UID, TITLE, CATEGORY_NAME FROM POSTS
        INNER JOIN POST_CATEGOIES ON POSTS.POST_CATEGORY_UID = POST_CATEGOIES.POST_CATEGORY_UID
        ORDER BY CREATE_DATE DESC
        LIMIT 5;
    </select>

</mapper>