<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageMapper">

<select id="selectOrderList" parameterType="String" resultType="Map">
SELECT 
  ORDERS.ORDER_UID,
  ORDERS.ORDER_DATE,
	MIN(PRODUCTS.PRODUCT_NAME) AS PRODUCT_NAME,
  COUNT(DISTINCT ORDER_DETAILS.PRODUCT_UID) AS PRODUCT_COUNT,
  SUM(ORDER_DETAILS.PRICE * ORDER_DETAILS.QUANTITY) AS TOTAL_PRICE,
  ORDER_CONDITIONS.CONDITION_NAME
FROM 
  ORDERS
  INNER JOIN ORDER_DETAILS ON ORDERS.ORDER_UID = ORDER_DETAILS.ORDER_UID
  INNER JOIN ORDER_CONDITIONS ON ORDER_CONDITIONS.ORDER_CONDITION_UID = ORDER_DETAILS.ORDER_CONDITION_UID
  INNER JOIN USERS ON USERS.USER_UID = ORDERS.USER_UID
  INNER JOIN PRODUCTS ON PRODUCTS.PRODUCT_UID = ORDER_DETAILS.PRODUCT_UID
WHERE 
  USERS.USER_UID = #{USER_UID}
GROUP BY 
  ORDERS.ORDER_UID 
</select>

<select id="selectOrderDetailList" parameterType="Map" resultType="Map">
SELECT ORDERS.ORDER_UID, ORDERS.ORDER_DATE, ORDER_DETAILS.PRICE, ORDER_CONDITIONS.CONDITION_NAME,ORDER_DETAILS.QUANTITY,PRODUCTS.PRODUCT_NAME, WAYBILLS.WAYBILL_CODE, LOGISTICS.LOGISTICS_NAME
FROM ORDER_DETAILS
INNER JOIN ORDERS
ON ORDER_DETAILS.ORDER_UID = ORDERS.ORDER_UID
INNER JOIN PRODUCTS
ON ORDER_DETAILS.PRODUCT_UID = PRODUCTS.PRODUCT_UID
INNER JOIN ORDER_CONDITIONS
ON ORDER_DETAILS.ORDER_CONDITION_UID = ORDER_CONDITIONS.ORDER_CONDITION_UID
INNER JOIN WAYBILLS 
ON WAYBILLS.WAYBILL_UID = ORDER_DETAILS.WAYBILL_UID
INNER JOIN LOGISTICS 
ON LOGISTICS.LOGISTICS_UID = WAYBILLS.LOGISTICS_UID
WHERE ORDERS.ORDER_UID = #{orderId}
</select>



</mapper>