<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderMapper">

    <select id="selectAddresses" resultType="Map" parameterType="Map">
        SELECT * FROM ADDRESSES
        WHERE USER_UID = #{userUid} AND EXPOSURE = 'YES'
    </select>

    <insert id="insertAddress" parameterType="Map">
        INSERT INTO ADDRESSES
        VALUE (#{user-uid}, #{address-uid}, #{address-name}, #{zipcode}, #{address}, #{detail}, 'YES')
    </insert>

    <select id="selectDeliveryLocations" resultType="Map">
        SELECT * FROM DELIVERY_LOCATIONS
        WHERE EXPOSURE = 'YES'
    </select>

    <select id="selectUserPoint" resultType="Map" parameterType="String">
        SELECT POINT FROM USERS
        WHERE USER_UID = #{userUid}
    </select>

    <select id="selectPaymentMethods" resultType="Map">
        SELECT * FROM PAYMENT_METHODS
    </select>

    <select id="selectAddressesWithAddressUid" resultType="Map" parameterType="String">
        SELECT * FROM ADDRESSES
        WHERE ADDRESS_UID = #{addressUid} AND EXPOSURE = 'YES'
    </select>

    <insert id="insertSelfAddress" parameterType="Map">
        INSERT INTO ADDRESSES
        VALUE (#{userUid}, #{address-uid}, 'Self', #{zipcode}, #{address}, #{detail}, 'NO')
    </insert>

    <insert id="insertSelfDeliveryLocation" parameterType="Map">
        INSERT INTO DELIVERY_LOCATIONS
        VALUE (#{delivery-location-uid}, #{delivery-location-self}, 'NO')
    </insert>

    <insert id="insertOrder" parameterType="Map">
        INSERT INTO Orders
        VALUE (#{orderUid}, #{userUid}, #{address-uid}, #{delivery-location-uid}, #{paymentMethod-uid}, sysdate(), #{recipient_name}, #{recipient_tel})
    </insert>

    <insert id="insertWaybill" parameterType="Map">
        INSERT INTO WAYBILLS
        VALUE (#{waybillUid}, null, null, null)
    </insert>

    <insert id="insertOrderDetails" parameterType="Map">
        INSERT INTO ORDER_DETAILS
        VALUE (#{orderDetailUid}, #{orderUid}, #{PRODUCT_UID}, #{QUANTITY}, #{PRICE}, #{orderCondition}, #{waybillUid})
    </insert>

    <select id="selectCartInfoForOrderDetails" parameterType="String" resultType="Map">
        SELECT CARTS.PRODUCT_UID, QUANTITY,
            CAST(ROUND(PRODUCTS.PRICE * (100 - PRODUCTS.DISCOUNT_RATE) / 100 * CARTS.QUANTITY) AS SIGNED) AS PRICE
        FROM CARTS
        INNER JOIN PRODUCTS ON CARTS.PRODUCT_UID = PRODUCTS.PRODUCT_UID
        WHERE USER_UID = #{userUid}
    </select>

    <delete id="allDeleteCart" parameterType="String">
        DELETE FROM CARTS
        WHERE USER_UID = #{uerUid}
    </delete>

    <select id="getUserPoint" parameterType="String" resultType="Map">
        SELECT POINT FROM USERS
        WHERE USER_UID = #{uerUid}
    </select>

    <update id="updateUserPoint" parameterType="Map">
        UPDATE USERS SET POINT = #{point}
        WHERE USER_UID = #{userUid}
    </update>

</mapper>