<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SignUpMapper">

<!-- 시험용 셀렉트 -->
    <select id="select" parameterType="Map" resultType="Map">
    SELECT * 
    FROM USERS
    WHERE USER_UID = 'U1' 
    </select>


<!-- 회원정보 기본 인서트 (이름, UID, 이메일, 비밀번호, 전화번호, 광고성 수신 동의 여부(메일,문자), 가입날짜, 회원 상태) -->
<insert id="insertWithUID" parameterType="Map">
INSERT INTO USERS 
(USER_UID, EMAIL, USER_NAME, PASSWORD, TEL, EMAIL_INFO_AGREE, TEL_INFO_AGREE, POINT, JOIN_DATE, USER_CONDITION_UID)
VALUE
(       #{USER_UID}, 
        #{EMAIL}, 
        #{USER_NAME}, 
        #{PASSWORD}, 
        #{TEL},
        <choose>
        <when test="EMAIL_INFO_AGREE != null">
        'Yes',
        </when>
        <otherwise>
        'No',
        </otherwise>
        </choose>
        <choose>
        <when test="TEL_INFO_AGREE != null">
        'Yes',
        </when>
        <otherwise>
        'No',
        </otherwise>
        </choose>  
         0,
         sysdate(),
         'UC1')
</insert>

<!-- 기본 배송지 입력 -->
<insert id="insertWithAddress" parameterType="Map">
INSERT INTO ADDRESSES (USER_UID,ADDRESS_UID,ADDRESS_NAME,ZIP_CODE,ADDRESS,DETAIL,EXPOSURE)
VALUE	(#{USER_UID},#{ADDRESS_UID},'BASIC',#{ZIP_CODE},#{ADDRESS},#{DETAIL},'YES')
</insert>

</mapper>